*{
  padding: 0px;
  margin: 0px;
}
body{
  position: realtive;
  width: 100%;
  background-color:#043434;
  font-size: 12px;
}
@media screen and (min-width:541px)
{
  .sidenav{ display:none;}
  span{display: none;}
}
header{
  position: relative;
  display:flex;
  justify-content: space-around;
}
.logo img{
  position:absolute;
  height:50px;
  width:50px;
  border-radius:50px;
  left:0px;
  margin-left:50px;
  margin-top:10px;
}
.nav{
  
  display:block; 
  margin:30px;

}
.nav ul{
  position: absolute;
  display:flex;
  justify-content: space-around;
  right:8rem;

}
.nav li{
  list-style-type:none;
  font-size:15px;
  font-family:poppins;
  margin: 0 0 0 30px;

}
.nav a{
  color:#04ec64;
  text-decoration:none;
  text-transform:none;
  transition: font-size 1s;
}
.nav a:hover{
 color: #00BFFF;
  font-size: 20px;
}
hr{
float: right;
width:40.5rem;
margin-right:8rem;
}

#hr{
  margin-top:33px;
  width:100%;
  margin-right:0px;
}
#back{
  position: absolute;
  right:30px;
  margin-right:10px;
  border-radius:5px;
  background-color:#081c2c;
  color: #00BFFF;
  width:80px;
  height: 40px;
  margin-top:40px;
  cursor: pointer;
  font-family:poppins;
  font-weight: bold;
  border: none;
  transition:font-size 1s;
} 
#back:hover{
  background-color:#04ec64;
  font-size: 20px;
  color:#043434;
}
h2{
  color: white;
  text-align: center;
  margin-top:30px;
  margin-left:-28px;
}
.form {
  width: 300px;
  padding:20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top:20px;
  float: right;
  margin-right:450px;
  
 
}
fieldset {
  border: none;
  justify-content: center;
}
legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: poppins;
}


#username{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: poppins;
}
label{
  font-family: poppins;
}
placeholder{
  font-family: poppins;
}
#email{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: poppins;
}
#message{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

#submit{
  background-color:#043434;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius:6px;
  cursor: pointer;
  font-size: 16px;
  font-family: poppins;
  width:100%;
  transition: font-size 1s;
  
}
#submit:hover{
background-color:#04ec64;
font-size: 20px;
}
#email-error{
font-size:16px;
font-weight: bold;
}
#username-error{
font-size:16px;
font-weight: bold;
}
#message-error{
font-size:16px;
font-weight: bold;
}

.footer{
  position:absolute;
  display: flex;
  justify-content: space-around;
  background-color:#081c2c;
  height:100px;
  width:100%;
  bottom:0px;
  top:35rem;
  border-radius: 0 0 100px 100px;
}


.quicklink{
  margin-top:15px;
  font-size:12px;
  
}
.quicklink h{
  margin-left:80px;
  color:#00BFFF;
}
.quicklink ul{
  position: absolute;
  display: flex;
  list-style-type:none;
  justify-content: space-between;
  margin-top:20px;
  left:30px;
  
 
}
.quicklink li{
  
  font-family:poppins;
  margin-right:30px;
  
}
.quicklink a{
  text-decoration: none;
  text-transform: none;
  color:#00BFFF;
  transition: font-size 1s;
}
.quicklink a:hover{
  color:#04ec64;
  font-size: 20px;
}
.quicklink h{
  color:#00BFFF;
  font-family:poppins;
  font-weight: bold; 
}
.contact{
  color:#00BFFF;
  margin-top:15px;
  font-family:poppins;
  margin-left:150px;
  font-size:12px;
}
.contact h{
  font-weight: bold;
  margin-left:50px;
  color:#00BFFF;
}
.contact p{
 margin-top:3px;
}
.social{
  margin-top:15px;

}
.social h{
  margin-left: 50px;
  color:#00BFFF;
  font-family:poppins;
  font-size:12px;
}
.fa{
  
margin-top:10px;
padding:3px;
font-size:20px;
width:20px;
text-align: center;
text-decoration: none;
background:white;
color:#043434;
border-radius:100px;
margin-left:10px;
}
.fa:hover{
 background-color: #F04A00;
}

/*Pop up Message*/


#ht {
  color: #111;
  margin-bottom: 60px;
  padding-top: 20px;
}

.popup {
  position: fixed;
  top: 50%; 
  left: 49%; 
  transform: translate(-50%, -50%) scale(0);
  background-color: #ffff;
  width: 180px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  visibility: hidden;
  transition: transform 0.3s ease-in-out, visibility 0.3s;
  z-index: 9999;
}


.popup img {
  height: 30px;
  width: 30px;
  display: block;
  margin: 0 auto;
  margin-top:-10px;
}

.popup h2 {
  margin-top:-10px;
  margin-left:5px;
  font-size: 18px;

  
}

.popup p {
  margin-top:-60px;
  text-align: center;
  font-size: 11px;
  font-family:poppins;
  
}

.popup button{
  width:100%;
border-radius:5px;
margin-top:10px;
font-size:15px;
font-weight: 600;
color: #fff;
background-color:rgb(49, 130, 49); 
border: 0;
cursor: pointer;
}
.popup.active {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}



/* Madia Querries*/
@media screen and (max-width:541px)
{
   
.nav{ display: none;}
.login{display: none;}
hr{display: none;}
*{
  margin:0px;
  padding:0px;
}
body{
  height:max-content;
  position: fixed;
}
legend {
  font-size: 20px;
  font-weight: bold;
  margin-top:30px;
  font-family: poppins;
}


#name{
  width: 100%;
  padding:0px;
  margin-bottom:5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: poppins;
}
label{
  font-family: poppins;
}
placeholder{
  font-family: poppins;
}
#email{
  width: 100%;
  padding:0px;
  margin-bottom:5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: poppins;
}
#message{
  width: 100%;
  padding:0px;
  margin-bottom:5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 50px;
}

#submit{
  background-color: #1B1B1B;
  color: white;
  width: 100%;
  padding:0px;
  margin-bottom:5px;
  border: none;
  border-radius:6px;
  cursor: pointer;
  font-size: 16px;
  font-family: poppins;
  
}
#back{
  right:30px;
  margin-right:-20px;
  width:70px;
  height: 30px;
  margin-top:10px;
 
} 

h2{
  color: white;
  text-align: center;
  margin-top:50px;
  margin-left:0px;
}
.form {
  position: absolute;
  width: 250px;
  margin-left:120px;
  margin-top:-60px;
  padding-top:-60px;

 
}

.sidenav {
  height:25%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size:12px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top:10px;
  right: 25px;
  font-size:25px;
  margin-left:40px;
}
.logo img{
  margin:20px 0 0 20px; 
}
span{
  color: white;
  right:0px;
  margin-top: 20px;
  margin-left:400px;
  
}
.photo img{
  height:170px;
  width:155px;
  margin-left:150px;
  margin-top:-100px;
}
.container{
  display: block;
}
.content{
  margin-top:-10px;
  margin-left:-20px;
  margin-right:0px;
  font-size:9.7px;
}
.content p{
  margin-left:-40px;
  margin-right:-60px;
}
.footer{
  position: absolute;
  bottom:-420px;
  height:140px;
  width:100%;
}
.copyright{
  position: absolute;
  bottom:-20px;
  margin-left:390px;

}

.quicklink{
  margin-top:10px;
  font-size:8px;

}
.quicklink h{
  margin-left:20px;
}
.quicklink ul{
  position: absolute;
  display:block;
  list-style-type:none;
  justify-content: space-between;
  margin-top:10px;
  left:20px;
  
  
 
}
.quicklink li{
  
  font-family:poppins;
  margin-right:20px;
  padding-top:0px;
  font-size:10px;
  color:yellow;
  
}
.quicklink a{
  text-decoration: none;
  text-transform: none;
  color:white;
}
.quicklink a:hover{
  background-color:#4D5D53;
}
.quicklink h{
  color:white;
  font-family:poppins;
  font-size:8px;
}
.contact{
  color:white;
  margin-top:10px;
  font-family:poppins;
  margin-left:70px;
  font-size:12px;
}
.contact h{
  font-weight: bold;
  margin-left:50px;
}
.contact p{
 margin-top:3px;
}
.social{
  position: absolute;
  margin-top:80px;

}
.social h{
  margin-left:140px;
  color: white;
  font-family:poppins;
  font-size:12px;
  
  font-weight: bold;
}
.fa{
margin-top:10px;
padding:3px;
font-size:20px;
width:20px;
text-align: center;
text-decoration: none;
background:white;
color:black;
border-radius:100px;
margin-left:30px;

}

} 
@media screen and (max-width:430px)
{
  #back{
  right:30px;
  margin-right:-20px;
  width:50px;
  height: 30px;
  margin-top:15px;
 
} 

h2{
  color: white;
  text-align: center;
  margin-top:0px;
  margin-left:-5px;
}
.form {
  position: absolute;
  width: 250px;
  padding:10px;
  margin-top:-10px;
  margin-left:80px;
 
}
.photo img{
  margin-left:90px;
}
span{
  margin-right:40px;
}
.content{
  font-size:8.5px;
}
.footer{
  margin-bottom:0px;
  
}
.copyright{
  margin-left:450px;
}
}
@media screen and (max-width:414px)
{
  .content{
      font-size:8.5px;
  }
  .footer{
      margin-bottom:0px;
      
  }
}
@media screen and (max-width:376px)
{ 
  span{
  margin-right:90px;
}
  .content{
      font-size:7.5px;
  }
 .copyright{
  margin-left:480px;
 }
 .photo img{
  margin-left:50px;
 }
 .footer{
  margin-bottom:0px;
 }
  
  .form {
      position: absolute;
      width: 250px;
      padding:10px;
      margin-top:0px;
     margin-left:50px;
     
    }
    
      #back{
      right:30px;
      margin-right:-20px;
      width:40px;
      height:20px;
      margin-top:25px;
     
  } 

}
@media screen and (max-width:376px){
  .form {
      position: absolute;
      width: 250px;
      padding:10px;
      margin-top:0px;
     margin-left:40px;
     
    }
    #back{
      right:30px;
      margin-right:-25px;
      width:40px;
      height:20px;
      margin-top:25px;
     
  } 
}