*{
    margin:0px;
    padding:0px;
}
body{
  background-color:#7b7874;
    width: 100%;
    position: relative;
}
#logo{
  position: absolute;
  top:10px;
  border-radius:50px;
  left:50px;
  bottom: 20px;
}

.vl {
    border-left: 2px solid white;
    height:597px;
    margin-left:180px;
    margin-top:0px;
  }
  header{
    position: absolute;
    display: block;
    justify-content:space-evenly;
    top:80px;
    left:70px;
    font-size: 15px;
   
  }
  header img{
    border-radius:50%;
    margin-left:-10px;

  }
  figcaption{
    position: absolute;
    font-family: poppins;
    font-size: 12px;
    color: white;
    left:-50px;
  }
  #fig img{
    border-radius:50px;
  }
  #fig{
    position: absolute;
    bottom:80px;
    left:60px;
  }

  
  .nav a{
    color:white;
    text-decoration: none;
    text-decoration: none;
    text-transform:none;
    font-family: poppins;
    position: relative;
    transition: font-size 1s;
   

  }
  .nav a:after{
    content:"";
    position: absolute;
    background-color:rgb(227, 109, 66);
    height: 3px;
    width:0;
    left:0;
    bottom:-5px;
    transition:0.3s;
    }
    .nav a:hover:after{
        width:100%;
    }
  .nav a:hover{
   font-size:20px;
   color:rgb(227, 109, 66);
  }
  .nav li{
   
    list-style-type:none;
    margin:20px 20px 20px -25px;
    
  }
  .nav ul{
    position: absolute;
   
    margin:30px 0 0 0;
  }

 #logout{
    position: absolute;
    top:550px;
    left:20px;
    color:#E3DAC9;
    font-size: 20px;
 }
 span{
    font-family:poppins;
    transition: font-size 1s;
 }
 span:hover{
  color:#F04A00;
  font-size: 20px; ;
 }
 .comment{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:50px;
    left: 200px;
    
 }
 .comment img{
    border-radius:50%;
 }
 .com{
    margin-left:10px;
 }
 h2{
    font-family: poppins;
    color: white;

 }
 .h3{
    position: absolute;
    font-size:10px;
    font-family: poppins;
    color: #ccf000;
    /* bottom:5px; */
 }
 .com p{
    font-family: poppins;
 }
 #p{
    margin-left:70px;
    color: red;
    cursor: pointer;
 }
.comment0{
    top:0px;
}
.comm{
    display: flex;
    align-items: center;
}

