*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#1B1B1B;
    width: 100%;
    position: relative;
}

.vl {
    border-left: 2px solid white;
    height:597px;
    margin-left:200px;
    margin-top:0px;
  }
  header{
    position: absolute;
    display: block;
    justify-content:space-evenly;
    top:15px;
    left:70px;
   
  }
  header img{
    border-radius:50%;
    margin-left:-10px;

  }
    
  header figcaption{
  
    font-family:poppins;
    font-size:15px;
   margin-left:-20px;
    font-weight: 500;
    color: white;
  }
  hr{
    width:200px;
    margin-left:-70px;
    
  }
  #hr{
    position: absolute;
    bottom:120px;
    width:270px;
  }
  .nav a{
    color: white;
    text-decoration: none;
    text-decoration: none;
    text-transform:none;
    font-family: poppins;

  }
  .nav a:hover{
   background-color: darkgray;
  }
  .nav li{
   
    list-style-type:none;
    margin:20px 20px 20px -25px;
    
  }
  .nav ul{
    position: absolute;
   
    margin:30px 0 0 0;
  }

  header figcaption a{
    text-decoration: none;
    color: white;
    font-family: poppins;
  }
  .Checker{
    position: absolute;
    display:flex;
    justify-content:space-around;
    right:0px;
    top:15px;
  }
  .Checker p{
    color: white;
    font-family:poppins;
    margin-left:90px;
    font-size:15px;
  }
  .blogs-card img{
    width:300px;
    margin-right:30px;
    border-radius:20px;
  }
  .Messages img{
    width:300px;
    margin-right:40px;
    height:200px;
    border-radius:20px;
  }
  .Comments img{
    width:300px;
    margin-right:20px;
    height:200px;
    border-radius:20px;
  }
  .Total-reached{
    position: absolute;
    display:flex;
    justify-content:space-around;
    right:0px;
    top:350px;
   
  }
  .users{
    background-color:  darkgray;
    border-radius:20px;
    width:300px;
    margin-right:30px;
 }
 .messages{
    background-color: darkgray;
    border-radius:20px;
    width:300px;
    margin-right:40px;
    height:200px;
 }
 .comments{
    background-color: darkgray;
    border-radius:20px;
    width:300px;
    margin-right:20px;
 
 }
  .users img{
    width:100px;
    height:100px;
    margin-left:100px;
    margin-top:30px;
    border-radius:50%;
    
  }
 .messages img{
    width:100px;
    height:100px;
    margin-left:100px;
    margin-top:30px;
    border-radius:50%;
   
    
 }
 .comments img{
    width:100px;
    height:100px;
    margin-left:100px;
    margin-top:30px;
    border-radius:50%;
 }
 .Total-reached p{
    color: white;
    font-family:poppins;
    margin-left:30px;
    font-size:15px;
 }
 #logout{
    position: absolute;
    top:530px;
    left:35px;
    color: white;
    font-size: 30px;
    
 }
 span{
    font-family:poppins;
 }