*{
    padding: 0px;
    margin: 0px;
}
body{
    position: realtive;
    width: 100%;
    background-color:#1B1B1B;
    font-size: 12px;
}
@media screen and (min-width:541px)
{
    .sidenav{ display:none;}
    span{display: none;}
}
header{
    position: relative;
    display:flex;
    justify-content: space-around;
}
.logo img{
    position:absolute;
    height:50px;
    width:50px;
    border-radius:50px;
    left:0px;
    margin-left:50px;
    margin-top:10px;
}
.nav{
    
    display:block; 
    margin:30px;

}
.nav ul{
    position: absolute;
    display:flex;
    justify-content: space-around;
    right:8rem;
 
}
.nav li{
    list-style-type:none;
    font-size:15px;
    font-family:poppins;
    margin: 0 0 0 60px;

}
.nav a{
    color:white;
    text-decoration:none;
    text-transform:none;
}
.nav a:hover{
    background-color:#4D5D53;
}
hr{
float: right;
width:32rem;
margin-right:8rem;
}
.read-more{
    display: flex;
    justify-content:space-between;
    margin-left: 50px;
    margin-top: 50px;
    margin-right:50px;
    
}
.p{
    position: absolute;
    display: block;
    margin-left:450px;
    margin-right:50px;
    font-family: poppins;
    color: white;
}
#hr{
    position: absolute;
    width:99.8%;
    margin-right:0px;
    bottom:0px;
    margin-bottom:-130px;
  }
.footer{
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color:black;
    height:100px;
    bottom:-230px;
    width:100%;
   
}
.copyright{
    position: absolute;
    bottom:-25px;
    color: white;
    font-family: poppins;

}

.quicklink{
    margin-top:15px;
    font-size:12px;
}
.quicklink h{
    margin-left:80px;
}
.quicklink ul{
    position: absolute;
    display: flex;
    list-style-type:none;
    justify-content: space-between;
    margin-top:20px;
    left:30px;
    
   
}
.quicklink li{
    
    font-family:poppins;
    margin-right:30px;
    
}
.quicklink a{
    text-decoration: none;
    text-transform: none;
    color:white;
}
.quicklink a:hover{
    background-color:#4D5D53;
}
.quicklink h{
    color:white;
    font-family:poppins;
    font-weight: bold; 
}
.contact{
    color:white;
    margin-top:15px;
    font-family:poppins;
    margin-left:150px;
    font-size:12px;
}
.contact h{
    font-weight: bold;
    margin-left:50px;
}
.contact p{
   margin-top:3px;
}
.social{
    margin-top:15px;
 
}
.social h{
    margin-left: 50px;
    color: white;
    font-family:poppins;
    font-size:12px;
}
.fa{
    
 margin-top:10px;
 padding:3px;
 font-size:20px;
 width:20px;
 text-align: center;
 text-decoration: none;
 background:white;
 color:black;
 border-radius:100px;
 margin-left:10px;
}
.fa:hover{
    background-color:#4D5D53;
}
#hr1{
    position: absolute;
    bottom:-30px;
    margin-right:0px;
    margin-bottom:30px;
}

/*Table of the users*/
#head{
    color: white;
    font-weight: bold;
    font-family: poppins;
    font-size:25px;
    margin-left: 50px;
    margin-top: 50px;
}

table{
    border: 1px solid;
    color: white;
    border-collapse: collapse;
    margin:30px 0 50px 50px;
}
th{
    border: 1px solid;
    color: white;
    border-collapse: collapse;
    height:30px;
    font-family: poppins;
    font-weight: bold;
}
td{
    border: 1px solid;
    color: white;
    border-collapse: collapse;
    height:25px;
    font-size:13px;
    font-family: poppins;
}
button{
    border: 0;
    width: 100%;
    height:100%;
    cursor: pointer;
}