*{
    padding: 0px;
    margin: 0px;
}
body{
    position: realtive;
    width: 100%;
    height:max-content;
    background-color: #010B13;
    font-size: 12px;
}
@media screen and (min-width:541px)
{
    .sidenav{ display:none;}
    span{display: none;}
}
header{
    position: relative;
    display:flex;
    justify-content: space-around;
}
.logo img{
    position:absolute;
    height:50px;
    width:50px;
    border-radius:50px;
    left:0px;
    margin-left:50px;
    margin-top:10px;
}
.nav{
    
    display:block; 
    margin:30px;

}
.nav ul{
    position: absolute;
    display:flex;
    justify-content: space-around;
    right:8rem;
 
}
.nav li{
    list-style-type:none;
    font-size:15px;
    font-family:poppins;
    margin: 0 0 0 30px;
    

}
.nav a{
    color:white;
    text-decoration:none;
    text-transform:none;
    transition: font-size 1s;
}
.nav a:hover{
    color:#F04A00 ;
    font-size: 20px;
}

h2{
    color: white;
    text-align: center;
    margin-top:20px;
    font-family: poppins;
    font-size: 25px;
}
p{
    font-family: poppins;
    color: white;
    margin-left:20px;
    margin-top:20px;
}
.portifolio{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    margin-left:60px;
    margin-right:60px;
}
#cap{
    width:90%;
    margin-top:5px;
    color: white;
    font-family:poppins;
}


