*{
    padding: 0px;
    margin: 0px;
}
body{
    position: realtive;
    width: 100%;
    background-color: #010B13;
    font-size: 12px;
}
@media screen and (min-width:541px)
{
    .sidenav{ display:none;}
    span{display: none;}
}
header{
    position: relative;
    display:flex;
    justify-content: space-around;
}
.logo img{
    position:absolute;
    height:50px;
    width:50px;
    border-radius:50px;
    left:0px;
    margin-left:50px;
    margin-top:10px;
}
.nav{
    
    display:block; 
    margin:30px;

}
.nav ul{
    position: absolute;
    display:flex;
    justify-content: space-around;
    right:8rem;
 
}
.nav li{
    list-style-type:none;
    font-size:15px;
    font-family:poppins;
    margin: 0 0 0 40px;
    
  

}

.nav a{
    color: rgb(238, 158, 9);
    text-decoration:none;
    text-transform:none;
    font-weight: bold;
    position: relative;
   
    
}
/* .nav a:hover{
    background-color:#4D5D53;
   
} */
.nav a:after{
    content:"";
    position: absolute;
    background-color: chocolate;
    height: 3px;
    width:0;
    left:0;
    bottom:-5px;
    transition:0.3s;
    }
    .nav a:hover:after{
        width:100%;
    }
hr{
float: right;
width:27.5rem;
margin-right:8rem;
border-color:  rgb(238, 158, 9);;
}
.read-more{
    display: flex;
    justify-content:space-between;
    margin-left: 50px;
    margin-top: 50px;
    margin-right:50px;
    
}
.p{
    position: absolute;
    display: block;
    margin-left:450px;
    margin-right:50px;
    font-family: poppins;
    color: white;
}

/*Dashbord adding the blog form*/

.form {
    width: 400px;
    padding:20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:20px;
    float: right;
    margin-right:450px;
  }
  fieldset {
    border: none;
    justify-content: center;
  }
  legend{
    font-family: poppins;
    font-size: 25px;
    font-weight: bold;
    margin-bottom:20px;
    color:  rgb(238, 158, 9);
  }
 
  #blog-title{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: poppins;
    margin-top:20px;
  }
  #shord-desc{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: poppins;
  }
  #entire-desc{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: poppins;
  }
  label{
    font-family:poppins;
    font-size:15px;
  }
  #submit{
    position: absolute;
    width:400px;
    margin-left:0px;
    min-height:40px;
    border-radius:10px;
    border:0;
    font-size:20px;
    font-weight: bold;
    font-family:poppins;
    cursor: pointer;
    background-color: rgb(238, 158, 9);;


} 
#submit:hover{
    background-color: #1B1B1B;
   
}