*{
    padding: 0px;
    margin: 0px;
}
body{
    position: realtive;
    width: 100%;
    background-color:#081c2c;
    font-size: 12px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height:200px;
    perspective: 1000px;
    cursor:pointer;
    display: flex;
    padding-left:20px;
  }
  .flip-card img{
    border-radius: 30px;
    height: 100px;
  }
  
  .flip-card-inner {
    position:relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position:absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius:30px;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color:#555;
    color: white;
    transform: rotateY(180deg);
    height:305px;
    background-color: #043434;
  }
  .flip-card-back img{
    border-radius: 30px 30px 0 0;
  }
  
  .flip-card-back h2{
    color:white;
    font-family: poppins;
    margin-top:0px;
    
      }
      .flip-card-back a{
        color:#04ec64;
        text-decoration:none;
        font-family: poppins;
        font-size:15px;
        transition:font-size 1s;
        
        
      
      } 
      .flip-card-back p{
        font-family: poppins;
       
      } 


  .flip-card-back a:hover{
    font-size:20px;
    font-weight: bold;
    color: #00BFFF;
}
  
              
     

@media screen and (min-width:541px)
{
    .sidenav{ display:none;}
    span{display: none;}
}
header{
    position: relative;
    display:flex;
    justify-content: space-around;
}
.logo img{
    position:absolute;
    height:50px;
    width:50px;
    border-radius:50px;
    left:0px;
    margin-left:50px;
    margin-top:10px;
}
.nav{
    
    display:block; 
    margin:30px;

}
.nav ul{
    position: absolute;
    display:flex;
    justify-content: space-around;
    right:8rem;
 
}
.nav li{
    list-style-type:none;
    font-size:15px;
    font-family:poppins;
    margin: 0 0 0 30px;

}
.nav a{
    
    color:  #00BFFF;
    text-decoration:none;
    text-transform:none;
    transition: font-size 1s;
}
.nav a:hover{
    color:#04ec64;
    font-size:20px;
}
hr{
float: right;
width:41rem;
margin-right:8rem;
}


.fa{
    
    padding-right:300px;
}




  .footer{
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color:#043434;
    height:100px;
    bottom:0px;
    width:100%;
    border-radius: 0 0 100px 100px;
   
}


.quicklink{
    margin-top:15px;
    font-size:12px;
}
.quicklink h{
    margin-left:80px;
}
.quicklink ul{
    position: absolute;
    display: flex;
    list-style-type:none;
    justify-content: space-between;
    margin-top:20px;
    left:30px;
    
   
}
.quicklink li{
    
    font-family:poppins;
    margin-right:30px;
    
}
.quicklink a{
    text-decoration: none;
    text-transform: none;
   
    color: #04ec64;
    transition: font-size 1s;
}
.quicklink a:hover{
    color:#00BFFF;
    font-size: 20px;
}
.quicklink h{
    color: #04ec64;
    font-family:poppins;
    font-weight: bold; 
}
.contact{
    color: #04ec64;
    margin-top:15px;
    font-family:poppins;
    margin-left:150px;
    font-size:12px;
}
.contact h{
    font-weight: bold;
    margin-left:50px;
}
.contact p{
   margin-top:3px;
}
.social{
    margin-top:15px;
 
}
.social h{
    margin-left: 50px;
    color: #04ec64;
    font-family:poppins;
    font-size:12px;
}
.fa{
    
 margin-top:10px;
 padding:3px;
 font-size:20px;
 width:20px;
 text-align: center;
 text-decoration: none;
 background:white;
 color:#4D5D53;
 border-radius:100px;
 margin-left:10px;
}
.fa:hover{
  background-color:#00BFFF;
}

/* Madia Querries*/
@media screen and (max-width:541px)
{
     
.nav{ display: none;}
.login{display: none;}
hr{display: none;}
*{
    margin:0px;
    padding:0px;
}
body{
    height:max-content;
    position:relative;
}

 .sidenav {
    height:25%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size:12px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top:10px;
    right: 25px;
    font-size:25px;
    margin-left:40px;
  }
  .logo img{
    margin:20px 0 0 20px; 
  }
  span{
    color: white;
    right:0px;
    margin-top: 20px;
    margin-left:400px;
  }
  
  
  .footer{
    position: absolute;
    bottom:-412px;
    height:140px;
    width:100%;
  }
  .copyright{
    position: absolute;
    bottom:-20px;
    margin-left:390px;

}

.quicklink{
    margin-top:10px;
    font-size:8px;
  
}
.quicklink h{
    margin-left:20px;
}
.quicklink ul{
    position: absolute;
    display:block;
    list-style-type:none;
    justify-content: space-between;
    margin-top:10px;
    left:20px;
    
    
   
}
.quicklink li{
    
    font-family:poppins;
    margin-right:20px;
    padding-top:0px;
    font-size:10px;
    color:yellow;
    
}
.quicklink a{
    text-decoration: none;
    text-transform: none;
    color:white;
}
.quicklink a:hover{
    background-color:#4D5D53;
}
.quicklink h{
    color:white;
    font-family:poppins;
    font-size:8px;
}
.contact{
    color:white;
    margin-top:10px;
    font-family:poppins;
    margin-left:70px;
    font-size:12px;
}
.contact h{
    font-weight: bold;
    margin-left:50px;
}
.contact p{
   margin-top:3px;
}
.social{
    position: absolute;
    margin-top:80px;
  
}
.social h{
    margin-left:140px;
    color: white;
    font-family:poppins;
    font-size:12px;
    
    font-weight: bold;
}
.fa{
 margin-top:10px;
 padding:3px;
 font-size:20px;
 width:20px;
 text-align: center;
 text-decoration: none;
 background:white;
 color:black;
 border-radius:100px;
 margin-left:30px;
 
}

} 
@media screen and (max-width:430px)
{
    .technologies{
        position: absolute;
        display: block;
        left:0px;
        margin-left:0px;
        margin-top:30px;
        font-family:poppins;
        color: white;
       
    }
    .technology1{
        display: flex;
        justify-content: space-between;
        left:0px;
        margin:30px;
        
    }
    .technology2{
        display:flex ;
        justify-content: space-between;
        padding-top:0px;
        left:0px;
        margin:30px;
    }
    .technology1 img{
        left:0px;
        margin-right:20px;
        margin-top:10px;
    }
    .technical-level{
        position: absolute;
        right: 0px;
        margin-right:20px;
        margin-top:30px;
        font-family: poppins;
        color: white;
    }
    span{
        margin-right:40px;
    }

} 
@media screen and (max-width:414px)
{
    .content{
        font-size:8.5px;
    }
    .footer{
        margin-bottom:-10px;
        
    }
}
@media screen and (max-width:376px)
{ 
  span{
    margin-right: 90px;
  }
  .footer{
    margin-bottom:8px;
  }
  .copyright{
    position: absolute;
    bottom:-20px;
    margin-left:500px;

}
.technologies{
    position: absolute;
    display: block;
    left:0px;
    margin-left:0px;
    margin-top:30px;
    font-family:poppins;
    color: white;
   
}
.technology1{
    display: flex;
    justify-content: space-between;
    left:0px;
    margin:30px;
    
}
.technology2{
    display:flex ;
    justify-content: space-between;
    padding-top:0px;
    left:0px;
    margin:20px;
}
.technology1 img{
    left:0px;
    margin-right:20px;
    margin-top:10px;
}
.technical-level{
    position: absolute;
    right: 0px;
    margin-right:5px;
    margin-top:30px;
    font-family: poppins;
    color: white;
}
#h2{
    color: white;
    font-family: poppins;
    font-size:15px;
    margin-left:30px;
}
h2{
    color: white;
    font-family: poppins;
    font-size:15px;
   
}
}